@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css';

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 1rem;
}

article img {
  border: 1px solid #ebebeb;
  max-width: 100%;
}